 @font-face {
    font-family: 'Geomanist Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Geomanist Regular'), url('Geomanist-Regular.woff') format('woff');
    }

body {
    letter-spacing: 2px;
}

.col-6 {
    background-color: lightgray;
    width: 200px;
    height: 200px;
    margin: 10px
}