 @font-face {
    font-family: 'Geomanist Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Geomanist Regular'), url('Geomanist-Regular.woff') format('woff');
    }
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  letter-spacing: 2px;
   
}

.container-fluid {
    position: relative  ;
    margin: auto;
    padding: 10px;
    display: flex;
}

.intro-container{
    top: 0;
  left: 0;
  width: 100%;
  height: 700px;
    background-image: linear-gradient(rgba(247, 243, 243, 0.4), rgba(247, 243, 243, 0.4)), url(https://res.cloudinary.com/dbwtdwgnt/image/upload/v1614269456/My_Post_b8espz.jpg);
    background-size: cover;
    display: block;
    
}

.intro-home p {
    font-size: 60px;
    
    color: rgb(88, 84, 84);
    padding: 30px;
}
.intro-home  {
    text-align: center;
    justify-content: center;
    padding-top: 200px;
}

.home-button {
    border: none;
    width: 150px;
    height: 55px;
    cursor: pointer;
}

.home-button:hover {
    background-color: cadetblue;
}