 @font-face {
    font-family: 'Geomanist Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Geomanist Regular'), url('Geomanist-Regular.woff') format('woff');
    }
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  letter-spacing: 2px;
   color: #282828;
}

.navbar {
    background-color: white!;
}

.dropdown-menu .show {
  box-sizing: content-box;
  display: inline-block;
}

.dropdown-menu {
  z-index: 2000;
  background-color: rgba(237, 235, 235, 0.7);
  width: auto;
  border: none;
  text-align: left;
}

.dropdown-menu a:hover {
  background: rgba(97, 94, 84, 0.7);
}

.signin-btn {
    background-color: #edebeb;
}

.container-fluid {
    position: relative  ;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.intro-container{
    top: 0;
  left: 0;
  width: 100%;
  height: 700px;
    background-image: linear-gradient(rgba(247, 243, 243, 0.4), rgba(247, 243, 243, 0.4)), url(https://res.cloudinary.com/dbwtdwgnt/image/upload/v1614611213/rebeca-g-sendroiu-7rjcoFTbXJI-unsplash_ae6qlg.jpg);
    background-size: cover;
    display: block;
    
}

.intro-home p {
    font-size: 60px;
    
    color: rgb(88, 84, 84);
    padding: 30px;
}
.intro-home  {
    text-align: center;
    justify-content: center;
    padding-top: 200px;
}



.home-button {
    border: none;
    width: 150px;
    height: 55px;
    cursor: pointer;
    background-color: has #edebeb;
}

.home-button:hover {
    background-color: cadetblue;
}

.section-header{
    letter-spacing: 4px;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
    text-align: center;
}

.section-row{
    justify-content: center;
    text-align: center;
}

.product-img {
    display: block;
    width: auto;
    height: 400px;
}

.camera-img {
    background-size: cover;
    height: 400px;
}

.subscription-img {
    display: block;
    width: auto;
    height: 400px;
}

.pasta-img {
    background-size: cover;
    height: 400px;
}

.safety-img {
    display: block;
    width: auto;
    height: 400px;
}

.camera-gif {
    background-size: cover;
    height: 400px;
}



.card-container .card {
  max-width: 400px;
  border-radius: 0;
  text-align: center;
  border: none;
  
}

.card-row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ourservice-row .card-text {
  height: 60%;
  padding: 5% 10%;
  font-size: clamp(13px, 1.5vw, 18px);
  letter-spacing: 2px;
  line-height: 1.7;
  word-spacing: 2px;
}

.btn-primary {
  width: 100%;
  background-color: #282828;
  color: #edebeb;
  border: none;
  border-radius: 0;
}

.btn-primary:hover {
  background-color: #edebeb;
  color: #282828;
}

.ourservice-row .card-footer {
  padding: 0;
}

div .card-text {
    margin-bottom: 1rem;
}

.user-img {
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    margin-bottom: 1rem;
}

ul {
   list-style-type: none; 
}
 li {
     padding-bottom: 15px;
     text-align: left;
     padding-top: 10px;
     padding-left: 30px;
 }

h3 {
    padding-bottom: 20px;
} 
